.DatePicker /* main datepicker style */
{
     background-color: #eeeeee;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
     z-index: 1024;
     position: absolute;
     visibility: hidden;
}

.DatePickerHdr /* style for the header row */
{
	 cursor:default;
     background-color: #eeeeee;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
}

.DatePickerHdrBtn /* style for buttons in the header row */
{
     cursor: pointer;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
}

.DatePickerBtnShow 
{
     cursor: pointer;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
}

.DatePickerBtn /* style for the calendar area */
{
	 width:25px;
	 text-align:right;
     cursor: pointer;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
}

.DatePickerBtnSelect /* highlighted date */
{
	 width:25px;
	 text-align:right;
     background-color: Gray;
     color:White;
     cursor: pointer;
     font-family:Arial; 
	 font-size:10px; 
	 font-weight:normal;
}