<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="PortalTest.Properties.Settings.PortalTestDatabase"
		 connectionString="Data Source=DBSERVER;Initial Catalog=PortalTest;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
		<add name="PortalTest.Properties.Settings.PortalDatabase" connectionString="Data Source=DBSERVER;Initial Catalog=Portal;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
	</appSettings>
</configuration>