<%@ Master Language="C#" MasterPageFile="Base.Master" AutoEventWireup="true" Inherits="MasterPages_Error" CodeBehind="ErrorPage.aspx.cs" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="BaseContentPlaceHolder" Runat="Server">
    <asp:ContentPlaceHolder ID="MainErrorContentPlaceHolder" runat="server" />
</asp:Content>