<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DBConnStr" connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=Portal;Integrated Security=True;User ID=portal;Password=Ubghjldbufntkm911;Packet Size=4096;" />
  </connectionStrings>
</configuration>