<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="portal" type="ConfirmIt.PortalLib.Configuration.PortalSection, PortalLib"/>
		<section name="AspNetForumsSettings" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>

	<appSettings>
		<add key="AllowedIPConfigFilePath" value="~/App_Data/xml/AllowedIPConfig.xml"/>
		<add key="NewsDiscussForumID" value="1"/>
		<add key="FileManagerWebServiceURL" value="http://192.168.21.105:8182/WebFileService.asmx"/>
	</appSettings>

	<connectionStrings>
		<!--<add name="DBConnStr" connectionString="Persist Security Info=FALSE;User ID=portal;password=Ubghjldbufntkm911;Initial Catalog=Portal;Data Source=FI-YAR-DB01;Packet Size=4096;Workstation ID=KORNIENKO;" providerName="System.Data.SqlClient"/>-->
		<add name="DBConnStr" connectionString="Data Source=CO-YAR-WS132\SQLEXPRESS;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=Stupw123!"/>
	</connectionStrings>

	<AspNetForumsSettings>
		<add key="DataProviderAssemblyPath" value="AspNetForums.dll"/>
		<add key="DataProviderClassName" value="AspNetForums.Data.SqlDataProvider"/>
		<!--
  ******************************
  FORUM CONNECTION STRING
  ******************************
  -->
		<!--<add key="DBConnStr" value="Integrated Security =TRUE;Data Source=localhost; Initial Catalog=PortalForums;"/>-->
		<add key="DBConnStr" value="Persist Security Info=FALSE;User ID=portal;password=Ubghjldbufntkm911;Initial Catalog=PortalForums;database=PortalForums;Data Source=FI-YAR-DB01;Packet Size=4096;Workstation ID=KORNIENKO;"/>
	</AspNetForumsSettings>

	<system.web>
		<compilation debug="true" />

		<globalization uiCulture="ru-RU" culture="ru-RU" requestEncoding="utf-8" responseEncoding="utf-8"/>
		<sessionState timeout="60"/>
		<authentication mode="Windows"/>
    <!--<customErrors mode="Off"/>-->
    <customErrors mode="On" defaultRedirect="~/ErrorPages/GenericErrorPage.aspx">
      <error statusCode="403" redirect="~/ErrorPages/NoAccess.aspx"/>
      <error statusCode="404" redirect="~/ErrorPages/FileNotFound.aspx"/>
      <error statusCode="423" redirect="~/ErrorPages/AccessDenied.aspx"/>
    </customErrors>

		<pages enableEventValidation="false" theme="ConfirmitPortal">
			<controls>
				<add tagPrefix="pwb" namespace="PortalWeb.UI" assembly="Portal"/>
				<add tagPrefix="controls" namespace="Controls.ResourceRegister" assembly="Controls"/>
				<add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit"/>
				<add tagPrefix="web" namespace="EPAMSWeb.UI" assembly="Portal"/>
			</controls>
		</pages>
	</system.web>

	<location path="AdminPage.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrator"/>
				<!--
	  <allow roles="Admin"/>
	  <allow users="Ultersysyar\yar,Ultersysyar\aaz, Ultersysyar\dlm"/>
	 -->
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

	<log4net>
		<appender name="PortalLogAppender" type="log4net.Appender.FileAppender">
			<file value="App_Data\Log\Info\PortalWebLog.log"/>
			<encoding value="Windows-1251"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="DEBUG"/>
				<param name="LevelMax" value="WARN"/>
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/>
		</appender>
		<appender name="PortalErrorLogAppender" type="log4net.Appender.FileAppender">
			<file value="App_Data\Log\Error\PortalWebErrorLog.log"/>
			<encoding value="Windows-1251"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level - %message%newline"/>
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<param name="LevelMin" value="ERROR"/>
				<param name="LevelMax" value="FATAL"/>
			</filter>
			<filter type="log4net.Filter.DenyAllFilter"/>
		</appender>
		<logger name="PortalLog">
			<appender-ref ref="PortalLogAppender"/>
			<appender-ref ref="PortalErrorLogAppender"/>
		</logger>
	</log4net>

	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<behaviors>
			<serviceBehaviors>
				<behavior name="SLServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		
		<services>
			<service behaviorConfiguration="SLServiceBehavior" name="SLService.SLService">
				<endpoint address="" binding="basicHttpBinding" contract="SLService.ISLService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
			</service>
		</services>
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>