<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="portal" type="ConfirmIt.PortalLib.Configuration.PortalSection, PortalLib"/>
		<section name="MailExpirationSection" type="UlterSystems.PortalService.Configuration.MailExpireConfigSection, PortalService"/>

		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="UlterSystems.PortalService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<appSettings>
		<add key="SplitLogFile" value="True"/>
	</appSettings>

	<applicationSettings>
		<UlterSystems.PortalService.Properties.Settings>
			<setting name="NRNotificationStartTime" serializeAs="String">
				<value>01/01/2000 12:15:00</value>
			</setting>
			<setting name="CEStartTime" serializeAs="String">
				<value>01/01/2000 23:00:00</value>
			</setting>
			<setting name="StatisticsDeliveryStartTime" serializeAs="String">
				<value>01/01/2000 06:00:00</value>
			</setting>
			<setting name="MailExpirePeriod" serializeAs="String">
				<value>30.00:00:00</value>
			</setting>
			<setting name="ErrorSubject" serializeAs="String">
				<value>PORTAL: Service error.</value>
			</setting>
			<setting name="AttachmentCleanStartTime" serializeAs="String">
				<value>01/01/2000 10:00:00</value>
			</setting>
			<setting name="NRNotificationFromAddress" serializeAs="String">
				<value>portal@ultersys.ru</value>
			</setting>
			<setting name="CENotificationFromAddress" serializeAs="String">
				<value>portal@ultersys.ru</value>
			</setting>
			<setting name="StatisticsDeliveryFromAddress" serializeAs="String">
				<value>portal@ultersys.ru</value>
			</setting>
			<setting name="MailSendPeriod" serializeAs="String">
				<value>00:05:00</value>
			</setting>
			<setting name="ErrorToAddress" serializeAs="String">
				<value>yar@ultersys.ru</value>
			</setting>
			<setting name="SMTPServer" serializeAs="String">
				<value>192.168.22.31</value>
			</setting>
		</UlterSystems.PortalService.Properties.Settings>
	</applicationSettings>

	<connectionStrings>
		<add name="DBConnStr" connectionString="Data Source=CO-YAR-WS152\SQLEXPRESS;Initial Catalog=Portal;Persist Security Info=True;User ID=sa;Password=Stupw123!"/>
		<!--<add name="DBConnStr" connectionString="Integrated Security =TRUE;Data Source=Home; Initial Catalog=Portal;" providerName="System.Data.SqlClient" />-->
	</connectionStrings>

	<log4net>
		<appender name="PortalLogAppender" type="log4net.Appender.FileAppender">
			<file value="PortalServiceLog.log"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level - %message%newline"/>
			</layout>
		</appender>

		<logger name="PortalLog">
			<appender-ref ref="PortalLogAppender"/>
		</logger>
	</log4net>

	<portal defaultConnectionStringName="DBConnStr" defaultCacheEnabled="false"/>

	<MailExpirationSection>
		<MailExpire MailType="1" Name="MailExpirePeriodUserReport" ExpirationTimeSpan="10.00:00:00"/>
		<MailExpire MailType="2" Name="MailExpirePeriodUserStatistics" ExpirationTimeSpan="10.00:00:00"/>
		<MailExpire MailType="3" Name="MailExpirePeriodOfficeStatistics" ExpirationTimeSpan="10.00:00:00"/>
		<MailExpire MailType="4" Name="MailExpirePeriodNRNotification" ExpirationTimeSpan="10.00:00:00"/>
		<MailExpire MailType="5" Name="MailExpirePeriodCENotification" ExpirationTimeSpan="10.00:00:00"/>
		<MailExpire MailType="6" Name="MailExpirePeriodNewsNotification" ExpirationTimeSpan="3.00:00:00"/>
		<MailExpire MailType="7" Name="MailExpirePeriodInvitationNotification" ExpirationTimeSpan="05:00:00"/>
	</MailExpirationSection>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>